* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

}

.drop {
    position: absolute;
    border: 1px solid #222;

}

.large {
    width: 250px;
    height: 250px;
    top: 30%;
    border-radius: 60% 40% 70% 30% / 63% 30% 70% 37%;
}

.medium {
    width: 150px;
    height: 150px;
    left: 60%;
    border-radius: 36% 64% 36% 64% / 38% 43% 57% 62%;
}

.small {
    width: 60px;
    height: 60px;
    right: 60%;
    border-radius: 58% 42% 63% 37% / 48% 48% 52% 52%;
    bottom: 30%;
}



.btn {
    position: relative;
    outline: none;
    width: 160px;
    height: 50px;
    border: none;
    background-color: #f1f1f1;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #ff3b63;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    letter-spacing: 3px;
}
.border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 50px;
    border: 2px solid #3641b7;
    transition: 0.3s;
}

.btn:hover .border {
    width: 170px;
    height: 60px;
}

.box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #3641b7;
    border-right: transparent;
    border-bottom: transparent;
    transition: 0.3s;
}

.left-corner{
    top: -2px;
    left: -2px;
}
.right-corner{
    bottom: -2px;
    right: -2px;
    transform: rotate(180deg);
}

.btn:hover .border .left-corner{
    transform: translate(-5px,-5px);
}

.btn:hover .border .right-corner{
    transform: translate(5px,5px)rotate(180deg);
}